# =========================
# SÉCURITÉ & AZURE (CRITIQUE)
# =========================
local.settings.json
.funcignore
.custom_modules/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

# Environnements virtuels 
venv/
.venv/
env/
.env

# =========================
# JUPYTER & DATABRICKS 
# =========================
.ipynb_checkpoints/
spark-warehouse/
derby.log

# =========================
# SYSTÈME D'EXPLOITATION
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE 
# =========================
.vscode/
.idea/
